{% extends 'Events/base.html' %}

{% block content %}

<div class="container-fluid">

	<div class='card'>
		<div class= 'card-header'>
			<h1>Venue</h1>
		</div>
        <div class='card-body'>
			<h4 class='card-title'>
				{{ venue }}
			</h4>
	            <p class='card-text'>

            <ul>
            <li><b>Address:</b> {{venue.address}}</li>
            <li><b>Zip Code:</b> {{venue.zip_code}}</li>
            <li><b>Phone number:</b> {{venue.phone_number}}</li>
            <li><b>Website:</b> {{venue.website}}</li>
            <li><b>Email Address:</b> <a href="{{venue.email_address}}">{{venue.email_address}}</a> </li>

            </ul>
                    <br/>

	            </p>
        </div>
	</div>

</div>


	</center>
{% endblock %}